@font-face { font-family: Corbel; src: url('/fonts/CORBEL.TTF'); }

body {
  font-family: 'Corbel', Arial, Helvetica, sans-serif;
  font-size: 16pt;
  line-height: normal;
}

p {
  margin-bottom: 1em !important;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arvo', 'Times New Roman', Times, serif;
} */
/*h2 {
    ;
} */