---
    import BaseLayout from '../layouts/BaseLayout.astro';

    import Bio from '../components/Bio.astro';
    import Newsletter from '../components/Newsletter.astro';
    import Actu from '../components/Actu.astro';
    import Contact from '../components/Contact.astro';
    import Friends from '../components/Friends.astro';

    const pageTitle = "Accueil"
---

<BaseLayout pageTitle={ pageTitle }>
    <div class="image-index w-100 h-96 flex items-center !bg-cover mb-4">
        <h1 class="image-index-text font-headings font-bold text-center text-5xl sm:text-6xl lg:text-7xl text-base-color mx-auto px-4 sm:px-8 lg:px-12">Never stop creating new shit</h1>
    </div>

    <div class="first-grid-index grid grid-cols-1 sm:grid-cols-12 gap-4 mb-4">
        <div class="index-bloc-1-col-1 sm:col-span-7">
            <Bio />
            <Newsletter />
        </div>
        <div class="index-bloc-1-col-2 sm:col-span-5">
            <Actu />
        </div>
    </div>

    <div class="second-grid-index grid grid-cols-1 sm:grid-cols-12 gap-4 mb-4">
        <div class="index-bloc-1-col-1 sm:col-span-5 flex flex-col content-stretch">
            <Contact />
            <div class="image-portrait h-full !bg-cover"></div>
        </div>
        <div class="index-bloc-1-col-2 sm:col-span-7">
            <Friends />
        </div>
    </div>
</BaseLayout>

<style scoped>
    .image-index {
        background-blend-mode: luminosity;
        background: url('/background-index-image.jpeg') no-repeat center hsl(54, 70%, 80.39%);
    }
    .image-index:hover {
        background: url('/background-index-image.jpeg') no-repeat center;
    }
    .image-index-text {
        -webkit-text-stroke: 2px black;
    }
    .image-portrait {
        background: url('/index-portrait-image.jpg') no-repeat center;
    }
</style>