---
    import BaseLayout from '../layouts/BaseLayout.astro';
    import BlocZine from '../components/BlocPrint.astro';

    const pageTitle = "Prints"
    const prints = await Astro.glob('../pages/prints/*.md');
---

<BaseLayout pageTitle={ pageTitle }>
    <h1 class="text-center font-headings font-bold text-4xl lg:text-5xl my-8">{ pageTitle }</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="zine-col-0">
            {prints.reverse().map((print) => Number.parseInt(print.url.substr(-1, 1)) % 2 == 0 && <BlocZine print={ print } />)}
        </div>
        <div class="zine-col-1">
            {prints.reverse().map((print) => Number.parseInt(print.url.substr(-1, 1)) % 2 != 0 && <BlocZine print={ print } />)}
        </div>
    </div>
</BaseLayout>