---
    import BlocActu from "./BlocActu.astro"
    const actus = await Astro.glob('../pages/actus/*.md');
---

<div class="actu-index py-12 px-8 md:px-12 lg:px-16 xl:px-24 border-4 border-black h-full">
    <h3 class="font-headings text-xl sm:text-2xl font-bold text-center mb-4">Actus</h3>
    {actus.slice(0,4).reverse().map((actu) => <BlocActu actu={ actu } />)}
</div>