---
---

<div class="biography py-12 px-8 md:px-12 lg:px-16 xl:px-24 border-4 border-black mb-4">
    <h3 class="font-headings text-xl sm:text-2xl font-bold mb-4">Punk, DIY and crap</h3>
    <p>Il faut que je fasse une bio un poil intéressante un jour pour le mettre là...</p>
    <p>Punk chaotique, je fais des patchs nuls, des fringues merdiques, des prints fénaients, des faux dessins sur l'ordi et des vrais dessins moches. Je fais aussi des zines mais jusqu'à preuve du contraire je les termine pas.</p>
    <p>Bref j'ai envie de partager un peu tout ça <del>parce que ça commence à être le dawa de tout stocker.</del> Je suis vers Lille et je peux avoir des trucs avec moi quand je sors de mon caillou.</p>
</div>