---
    const { image } = Astro.props;
---

<div class="item-pt-carousel hidden">
    <div class="img-projet-pt-carousel h-pt-carousel max-w-48 max-h-48 mb-0 aspect-square">
        <img class="w-auto h-full aspect-square object-cover object-center" src=`${image.frontmatter.image.url}` alt=`${image.frontmatter.image.alt}`/>
    </div>
    <h3 class="titre-projet-gd-carousel flex-1 titre-projet mt-0 text-center">{image.frontmatter.titre}</h3>
</div>