---
    const { zine } = Astro.props;

    const numZine = Number.parseInt(zine.url.substr(-1, 1));
---

<div class=`sm:flex sm:flex-row bloc-zine py-6 px-2 sm:px-4 md:px-6 lg:px-8 mb-8 border-black border-4 ${numZine%2 === 0 ? 'sm:flex-row-reverse' : ''}`>
    <div class="sm:flex-2 sm:px-6 md:px-10 lg:px-16">
        <img class="mx-auto sm:m-0" src=`${ zine.frontmatter.image.url }` alt=`${ zine.frontmatter.image.alt }` width="300px" />
    </div>
    <div class="content-bloc-zine sm:flex-1 break-words px-6 md:px-10 lg:px-16">
        <h2 class="font-headings text-xl sm:text-2xl font-bold my-4">{ zine.frontmatter.titre }</h1>
        <div class="font-headings text-base sm:text-lg flex flex-col md:flex-row mb-1">
            <p class="flex-grow text-right md:text-left !mb-0 md:mb-4">{ zine.frontmatter.auteur }</p>
            <p class="flex-shrink text-right">{ zine.frontmatter.date }</p>
        </div>
        <Fragment set:html={ zine.compiledContent() } />
    </div>
</div>