---
    const { actu } = Astro.props;
---

<div class="bloc-actu py-2">
    <h3 class="font-headings font-bold text-sm sm:text-base lg:text-lg">{ actu.frontmatter.date }</h3>
    <Fragment set:html={ actu.compiledContent() } />
</div>