---
    const { actu } = Astro.props;
---

<div class="bloc-actu py-2">
    <h3 class="font-headings font-bold text-lg lg:text-xl">{ actu.frontmatter.date }</h3>
    <Fragment set:html={ actu.compiledContent() } />
</div>