---
    const { texte, mediaSize } = Astro.props;
---

<div class={`bloc-texte-${mediaSize} lg:absolute p-8 mb-4 border-4 border-black rounded-2xl`}>
    <Fragment set:html={ texte.compiledContent() } />
    <p class="font-headings text-base text-right !mb-0">{ texte.frontmatter.date }</p>
</div>