---
---

<div class="contact py-8 px-24 border-4 border-black mb-4">
    <h3 class="font-headings text-2xl font-bold mb-4">Contacts et réseaux</h3>
    <ul class="italic font-semibold font-md">
        <li><img class="inline-block" src="/networks/mail.svg" width="35" /> ortie@mauvaisesherb.es</li>
        <li><img class="inline-block mb-2" src="/networks/fediverse.svg" width="35" /> <a href="">craftopi.art/@Ortie</a></li>
        <li><img class="inline-block" src="/networks/tumblr.svg" width="35" /> <a href="">tumblr.com/blog/ortie-pnk</a></li>
    </ul>
</div>