---
    import FriendsLink from './FriendsLink.astro';
---

<div class="friends py-8 px-24 border-4 border-black">
    <h3 class="font-headings text-2xl font-bold mb-4">Copains et recommandations</h3>
    <div class="grid grid-cols-3">
        <ul class="gd-liens italic font-semibold font-md col-span-2">
            <li><a href="">freaks-illustrations.fr</a></li>
            <li><a href="">tanx.fr</a></li>
            <li><a href="">Loki - vintage propaganda</a></li>
            <li><a href="">site cool</a></li>
            <li><a href="">site coolos</a></li>
            <li><a href="">c un copain qui fait</a></li>
            <li><a href="">ça c bien</a></li>
            <li><a href="">Le terrier</a></li>
            <li><a href="">Edition les 3 canards</a></li>
        </ul>
        <ul class="pt-liens italic font-semibold font-md">
            <li><a href="">écoute cette zik</a></li>
            <li><a href="">dirishu6</a></li>
            <li><a href="">chouette site</a></li>
            <li><a href="">autre truc</a></li>
            <li><a href="">clique ici</a></li>
            <li><a href="">wololo</a></li>
            <li><a href="">site internet</a></li>
            <li><a href="">vieux site</a></li>
            <li><a href="">lien court</a></li>
        </ul>
    </div>
</div>

<style>
    .friends li {
        margin-bottom: 0.5em;
    }
</style>