---
---

<div class="friends py-8 px-8 md:px-12 lg:px-16 xl:px-24 border-4 border-black">
    <h3 class="font-headings text-xl sm:text-2xl font-bold mb-4">Copains et recommandations</h3>
    <div class="grid grid-cols-3">
        <ul class="gd-liens italic font-semibold font-md col-span-2">
            <li class="mb-2"><a href="">freaks-illustrations.fr</a></li>
            <li class="mb-2"><a href="">tanx.fr</a></li>
            <li class="mb-2"><a href="">Loki - vintage propaganda</a></li>
            <li class="mb-2"><a href="">site cool</a></li>
            <li class="mb-2"><a href="">site coolos</a></li>
            <li class="mb-2"><a href="">c un copain qui fait</a></li>
            <li class="mb-2"><a href="">ça c bien</a></li>
            <li class="mb-2"><a href="">Le terrier</a></li>
            <li class="mb-2"><a href="">Edition les 3 canards</a></li>
        </ul>
        <ul class="pt-liens italic font-semibold font-md">
            <li class="mb-2"><a href="">écoute cette zik</a></li>
            <li class="mb-2"><a href="">dirishu6</a></li>
            <li class="mb-2"><a href="">chouette site</a></li>
            <li class="mb-2"><a href="">autre truc</a></li>
            <li class="mb-2"><a href="">clique ici</a></li>
            <li class="mb-2"><a href="">wololo</a></li>
            <li class="mb-2"><a href="">site internet</a></li>
            <li class="mb-2"><a href="">vieux site</a></li>
            <li class="mb-2"><a href="">lien court</a></li>
        </ul>
    </div>
</div>