---
import Menu from "./Menu.astro"
---

<div class="header font-headings flex flex-row max-w-screen-xl mx-4 xl:mx-auto my-4 px-4 text-lg sm:text-xl lg:text-2xl font-semibold border-4 border-black">
    <div class="logo hidden sm:flex sm:flex-1 sm:flex-row sm:items-center">
        <img class="ml-2 flex-1 grow-0 align-middle" src="/punkanard-nb-svg.svg" alt="logo punkanard pixelart" width="50px" />
        <h1 class="p-4 flex-1 hidden md:flex">ORTIE</h1>
    </div>
    <nav class="menu flex-1 items-center"><Menu /></nav>
</div>