---
// import Hamburger from "../../public/Hamburger.jsx"
---

<ul class="flex flex-col text-right md:flex-row">
    <li class="px-1 md:px-3 lg:px-5 xl:px-8 py-1 md:py-6"><a href="/" class="hover:underline">Accueil</a></li>
    <li class="px-1 md:px-3 lg:px-5 xl:px-8 py-1 md:py-6"><a href="/zines" class="hover:underline">Zines</a></li>
    <li class="px-1 md:px-3 lg:px-5 xl:px-8 py-1 md:py-6"><a href="/patchs" class="hover:underline">Patchs</a></li>
    <li class="px-1 md:px-3 lg:px-5 xl:px-8 py-1 md:py-6"><a href="/prints" class="hover:underline">Prints</a></li>
    <li class="px-1 md:px-3 lg:px-5 xl:px-8 py-1 md:py-6"><a href="/galerie" class="hover:underline">Galerie</a></li>
    <li class="px-1 md:px-3 lg:px-5 xl:px-8 py-1 md:py-6"><a href="/textes" class="hover:underline">Textes</a></li>
</ul>

<!-- <Hamburger /> -->