---
---

<div class="newsletter-index pt-8 pb-4 px-8 md:px-12 lg:px-16 xl:px-24 border-4 border-black">
    <h3 class="font-headings text-xl sm:text-2xl font-bold mb-4">Histamine: La Newsletter !</h3>
    <form>
        <div class="grid grid-cols-3">
            <p class="m-0 h-full flex items-center">Nom :</p>
            <input class="col-span-2 border border-black px-2 mb-1" type="text" />
            <p class="m-0 h-full flex items-center">Mail :</p>
            <input class="col-span-2 border border-black px-2" type="text" />
            <p class="text-right font-bold col-span-3"><button>S'inscrire !</button></p>
        </div>
    </form>
</div>